@font-face {
  font-family: "Amiko";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/amiko-v10-latin-regular.woff2") format("woff2"),
        url("../fonts/amiko-v10-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Amiko";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/amiko-v10-latin-600.woff2") format("woff2"),
        url("../fonts/amiko-v10-latin-600.woff") format("woff");
}
@font-face {
  font-family: "Amiko";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/amiko-v10-latin-700.woff2") format("woff2"),
        url("../fonts/amiko-v10-latin-700.woff") format("woff");
}

* {
  box-sizing: border-box;
  margin-left: 0;
  margin-right: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Amiko", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
}

.main-title {
  font-size: 35px;
  letter-spacing: 1;
  font-weight: 600;
  color: #81e10c;
}

.main-sub-title {
  font-size: 20px;
  line-height: 30px;
  color: #008C95;
}
.main-bg {
  width: 100%;
  height: 500px;
  background-image: url("./img/Institute-main-bg.webp");
  background-size: 100% auto;
  position: relative;
  background-repeat: no-repeat;
}

.info-select {
  font-size: 20px;
  font-weight: 600;
  color: #000;
  background-color: #fff;
  outline: none;
  border: 1px solid #fff;
  border-radius: 5px;
  padding-top: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 2px 1px #70707033;
  color: #5e5e5e;
  text-shadow:  2px 2px 2px #70707033;
  margin-right: 30px;
  /* width: 100%; */
}

.info-select option {
  font-size: 20px;
  font-weight: 600;
  background-color: #fdfdfd;
  color: #5e5e5e;
}

.info-select::-webkit-scrollbar {
  width: 8px;
  background: #fff;
  border-radius: 7px;
}

.info-select::-webkit-scrollbar-thumb {
  background: #5e5e5e;
  border-radius: 7px;
}

.info-select::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #cfcfcf; 
  border-radius: 7px;
}

.points {
  width: 220px;
  outline: none;
  border: 1px solid #fff;
  box-shadow: 1px 1px 3px 1px #70707033;
  border-radius: 4px;
  font-size: 20px;
  padding: 4px 5px;
  color: #5e5e5e;
  margin-right: 30px;
}

.check-btn {
  font-size: 20px;
  border: 1px solid #008C95;
  box-shadow: 1px 1px 2px 1px #5e5e5e;
  border-radius: 4px;
  background-color: #008C95;
  color: #fff;
}

.check-btn:hover {
  border: 1px solid #008C95;
  box-shadow: 1px 1px 2px 1px #c4c4c4;
  border-radius: 4px;
  background-color: #fff;
  color: #008C95;
  transition: .2s ease;
}

@media (max-width: 991px) {
  .points {
    margin-right: 0;
  }

  .info-select {
    margin-right: 20px;
  }
  
  .main-bg {
    height: 400px;
  }

  .check-btn {
    margin-top: 16px;
  }
}

@media (max-width: 768px) {
  .main-title {
    font-size: 25px;
    text-align: center !important;
  }

  .main-sub-title {
    font-size: 15px;
    line-height: 1.7;
    text-align: center !important;
  }
  .main-bg {
    height: 300px;
  }

  .info-select {
    width: 100%;
    margin-right: 0;
  }

  .points {
    margin-top: 16px;
    left: 0;
  }

  .check-btn {
    margin-top: 16px;
    margin-left: auto;
  }
}

@media (max-width: 576px) {
  .main-title {
    font-size: 20px;
  }
  .main-sub-title {
    font-size: 13px;
    line-height: 1.8;
  }
  .main-bg {
    height: 200px;
  }
}

@media (max-width: 480px) {
  .points {
    width: 100%;
  }

  .check-btn {
    width: 100%;
  }
}

@media (min-width: 2200px) {
  .main-bg {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 3000px) {
  .main-bg {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 5000px) {
  .main-bg {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}